*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: darkviolet;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.main{
    height: 60vh;
    width: 80vw;
    background-color: rgb(24, 21, 26);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.head{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text{
    display: flex;
    justify-content: center;

}
input{
    height: 30px;
    width: 300px;
    color: white;
    border: 1px solid darkviolet;
    background-color: transparent;

}
button{
    width: 80px;
    background-color: darkviolet;
    color: white;
    border: 1px solid darkviolet;
}
.tasks{
  
    width: 70%;
    
    /* display: flex; */
    justify-content: center;
    margin-top: 10%;
    /* display: none; */
} 
.task{
    height: 30px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: darkviolet;
   color: white;

  
}
.actions{
    display: flex;
    gap: 20px;
    align-items: center;
}
img{ 
    height: 70%;
    cursor: pointer;
}

.edit{
    display: none;
}